.gridDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.redDiv {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: red;
  padding: 20px;
  border-radius: 5px;
}

.blueDiv {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: blue;
  padding: 20px;
  border-radius: 5px;
}

.greenDiv {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: green;
  padding: 20px;
  border-radius: 5px;
}

.purpleDiv {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: purple;
  padding: 20px;
  border-radius: 5px;
}

.yellowDiv {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: yellow;
  padding: 20px;
  border-radius: 5px;
}

.list-style {
  list-style-type: circle;
}
.flex {
  display: flex;
  flex-direction: column;
}
li {
  margin: 25px;
}
a:any-link {
  color: black;
  text-decoration: none;
  padding: 10px;
  /* border-radius: 10px; */
  /* background-color: rgba(168, 167, 167, 0.705); */
  /* box-shadow: 2px 2px 4px 0.2px; */
  transition: 100ms ease-in-out;
  transition-property: background-color box-shadow;
}
a:hover {
  background-color: rgba(148, 148, 148, 0.705);
  /* box-shadow: 2px 2px 6px 0.2px; */
}

.dropBtn {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(168, 167, 167, 0.705);
  box-shadow: 2px 2px 4px 0.2px;
  transition: 100ms ease-in-out;
  transition-property: background-color box-shadow;
}
.dropBtn:hover {
  background-color: rgba(148, 148, 148, 0.705);
  box-shadow: 2px 2px 6px 0.2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: rgba(168, 167, 167, 0.705);
  border-radius: 4px;
}

.hide {
  display: none;
}
.show {
  display: flex;
  flex-direction: column;
}

.dropBtn2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(168, 167, 167, 0.705);
  box-shadow: 2px 2px 4px 0.2px;
  transition: 100ms ease-in-out;
  transition-property: background-color box-shadow;
}
.dropBtn2:hover {
  background-color: rgba(148, 148, 148, 0.705);
  box-shadow: 2px 2px 6px 0.2px;
}

.facebookDropdown > a {
  padding-left: 30px;
}
